body {
  background:rgb(36, 31, 31);
  background-image: url("https://source.unsplash.com/1600x900/?nature");
  background-size: cover;
}

.title {
  color: white !important; 
}

.subtitle {
  color: black;
}

.header { 
  background-color: rgb(128, 128, 128, .5) !important;
  max-width: 3000px;
  margin-left: relative;
  margin-right: relative;
}

.card { 
  background-color: rgba(128, 128, 128, .4)!important;
  width: 100%;
  margin: 35px;
  height: 675px;
}

.footer { 
  background-color: rgba(128, 128, 128, .5)!important;
  /* padding-bottom:0%; */
  /* max-width: 3000px; */
  /* margin-left: relative;
  margin-right: relative; */
  font-size: 30px;
}

/* text wrap & scrolling */
.description p{
  white-space: pre-wrap !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  height: 400px !important;
}

#tcard p{
  white-space: pre-wrap !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

/* #current-song {
  font-size: 37px;
} */   